<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="log4net" version="1.2.10" targetFramework="net461" />
  <package id="MicrosoftExpressionInteractions" version="3.0.40218.0" targetFramework="net461" />
  <package id="NuGet.MultiParse" version="1.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Uno.GalaSoft.MvvmLight" version="5.4.0-uno.134" targetFramework="net461" />
  <package id="Uno.GalaSoft.MvvmLight.Platform" version="5.4.0-uno.134" targetFramework="net461" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2013" version="2.9.0.1" targetFramework="net461" />
</packages>